/** Global **/

body {
    font-family: 'PT Sans Narrow', sans-serif;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto 0 auto;
    /* margin-left: auto;
    margin-right: auto; */
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.6rem;
}


/* Utilidades */

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

.button:hover {
    background-color: #4CAF50;
    color: white;
}


/* Header */

.site-header.inicio {
    background: url(../img/casa-encabezado.webp);
    background-position: center center;
    background-size: cover;
    height: 100px;
    min-height: 600px;
}

.cont-header {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cont-header h1 {
    color: white;
    padding-bottom: 3rem;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 30px;
}

.navegation a {
    color: azure;
    text-decoration: none;
    font-size: 20px;
    margin-right: 20px;
}

.navegation a:hover {
    color: red;
}

.nosotros {
    display: flex;
    justify-content: space-between;
}

.icono {
    flex-basis: 33.3%;
}

.icon h3 {
    text-transform: uppercase;
}

.icon img {
    width: 200px;
    height: 200px;
}


/* Casas que se encuentran a la venta */

.casas {
    flex-basis: 33.3%;
}

.casas p {
    font-size: 25px;
}

.casas img {
    width: 1000px;
    height: 500px;
}


/* Feedback */

.feedback {
    max-width: 1200px;
    margin: 0 auto 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.feedback h3 {
    text-align: center;
}

.feedback h4 {
    text-align: initial;
}

.feedback p {
    font-size: 25px;
    text-align: left;
}

.feedback article {
    /* flex-basis: 33.3%; */
    /* display: flex; */
    justify-content: left;
}


/* Footer*/

.contacto {
    text-align: center !important;
}

.contacto a {
    text-decoration: none;
    color: inherit;
    background-color: transparent;
}

.contacto a:hover {
    color: red;
}


/* Formulario feedback */

.contenedor p {
    font-size: 25px;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid grey;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
}